.jlg-typeahead-popup {
	width: 300px;
	border: 1px solid black;
}

.jlg-typeahead-popup * {
	font-size: 20px;
}

.jlg-typeahead-popup .active {
	background-color: #337ab7;
	color: white;
}