.jlg-typeahead-popup {
	width: 300px;
	border: 1px solid black;
	overflow-y: auto;
	overflow-x: auto;
}

.jlg-typeahead-popup div {
	font-size: 20px;
	white-space: nowrap;
}

.jlg-typeahead-popup .active {
	background-color: #337ab7;
	color: white;
}