jlg-typeahead {
	display: block;
	width: 100%;
	margin: 0px;
	padding: 6px;
	font-size: 14px;
	color: #555;
	border: none;
}

jlg-typeahead.tag-visible {
	padding: 0px;
}

jlg-typeahead input {
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 4px;
	line-height: 35px;
	margin: 0px;
	padding: 0px 20px;
	width: 100%;
}

jlg-typeahead input:focus {
	outline: 0;
}

.jlg-typeahead-tag {
	display: block;
	width: 100%;
    line-height: 28px;
	font-weight: bold;
	font-size: 30px;
	background-color: transparent;
	margin: 0px;
    padding: 10px 5px 15px 5px;
	text-align: center;
	background-color: #ccc;
	height: 50px;
}

.jlg-typeahead-tag .remove {
	padding: 0px 10px 0px 20px;
	cursor: pointer;
	white-space: nowrap;
	float: left;
}

/* Popup */

.jlg-typeahead-popup {
	width: 100%;
	border: 1px solid black;
	
	overflow-x: auto;
	
	z-index: 2000;
	background-color: white;
}

.jlg-typeahead-popup.longlist {
	border: 1px solid red;
	
}

.jlg-typeahead-popup div {
	font-size: 14px;
	white-space: nowrap;
}

.jlg-typeahead-popup div.moreResults {
	background-color: red;
}

.jlg-typeahead-popup .active {
	background-color: #337ab7;
	color: white;
}