<!DOCTYPE html>
<html ng-app="mainApp">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
		
		<link rel="apple-touch-icon" href="favicon.png">
		<meta name="apple-mobile-web-app-capable" content="yes" />
		
		<title ng-bind="title">Boof !</title>
		<link rel="icon" href="favicon.ico?x" />
		
		<!-- build:css -->
		<link target="vendors" rel="stylesheet" href="../bower_components/angular/angular-csp.css" />
		<link target="vendors" rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.min.css" />
		<link target="vendors" rel="stylesheet" href="../bower_components/angular-bootstrap/ui-bootstrap-csp.css" />
		<link target="vendors" rel="stylesheet" href="../bower_components/json-formatter/dist/json-formatter.min.css" />
		
		<link target="app" rel="stylesheet" href="jlg-menu/style.css" />
		<link target="app" rel="stylesheet" href="jlg-typeahead/style.css" />
		<link target="app" rel="stylesheet" href="jlg-checkbox/style.css" />
		<link target="app" rel="stylesheet" href="jlg-layout/style.css" />
		
		<link target="app" rel="stylesheet" href="style.css" />
		<!-- endbuild -->
	</head>

	<body ng-controller="jlg-menu.Ctrl as menu" ng-cloak>
		<div jlg-layout="{flow : 'row'}" id="layout1">
			<div jlg-layout-container="{size: 50}" id="jlg-navbar">
				<div class="jlg-navbar">
					<div class="jlg-menu-button"
						ng-click="menu.toggle()" ng-class="{active: menu.visible }">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</div>
					<a href="#" class="pull-left"><img class="jlg-logo" src="logo.png"></a>
				</div>
			</div>
			<div jlg-layout-container="{size: 50}" class="jlg-searchbar">
				<jlg-typeahead ng-hide="nu.aliment" ng-model="nu.aliment" ng-model-options="{ debounce: 300 }"
					placeholder="Rechercher un aliment" source="nu.aliments" popup="#popup"
					template="jlg-typeahead/tmpl/popup-item.html"></jlg-typeahead>
				<div class="jlg-searchbar-result">
					<span ng-click="home()" ng-show="nu.aliment">&lt; Voir d'autres aliments</span>
				</div>
			</div>
			<div jlg-layout-container class="body" id="body">
				<div id="popup"></div>
				<div ui-view></div>
				
			</div>
		</div>
		
		
		
		<jlg-menu ctrl="menu" init="menu/main.html" title="Main menu" ng-show="menu.visible"></jlg-menu>

		<!-- build:js -->
		<script target="vendors" src="../bower_components/jquery/dist/jquery.js"></script>
		<script target="vendors" src="../bower_components/velocity/velocity.js"></script>
		<script target="vendors" src="../bower_components/papaparse/papaparse.js"></script>
		<script target="vendors" src="../bower_components/angular/angular.js"></script>
		<script target="vendors" src="../bower_components/angular-animate/angular-animate.js"></script>
		<script target="vendors" src="../bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
		<script target="vendors" src="../bower_components/json-formatter/dist/json-formatter.js"></script>
		<script target="vendors" src="../bower_components/fastclick/lib/fastclick.js"></script>
		<script target="vendors" src="../bower_components/angular-ui-router/release/angular-ui-router.js"></script>
		<script target="app" src="app.js"></script>
		<script target="app" src="jlg-menu/jlg-menu.js"></script>
		<script target="app" src="jlg-responsive/jlg-responsive.js"></script>
		<script target="app" src="jlg-nutritional/jlg-nutritional.js"></script>
		<script target="app" src="jlg-typeahead/jlg-typeahead.js"></script>
		<script target="app" src="jlg-checkbox/jlg-checkbox.js"></script>
		<script target="app" src="jlg-layout/jlg-layout.js"></script>
		<script target="app" src="jlg-misc/jlg-misc.js"></script>
		<!-- endbuild -->
	</body>
</html>
