<!DOCTYPE html>
<html ng-app="mainApp">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
		<title ng-bind="title">Boof !</title>
		<link rel="stylesheet" href="../bower_components/angular/angular-csp.css" />
		<link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.min.css" />
		<link rel="stylesheet" href="../bower_components/angular-bootstrap/ui-bootstrap-csp.css" />
		<link rel="stylesheet" href="../bower_components/json-formatter/dist/json-formatter.min.css" />
		<link rel="stylesheet" href="style.css" />
		<link rel="stylesheet" href="jlg-menu/style.css" />
		<link rel="stylesheet" href="jlg-typeahead/style.css" />
	</head>

	<body ng-controller="jlg-menu.Ctrl as menu">
		<div class="jlg-navbar">
			<div class="jlg-menu-button"
				ng-click="menu.toggle()" ng-class="{active: menu.visible }">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</div>
			<a href="#" class="pull-left"><img class="jlg-logo" src="logo.png"></a>
		</div>
		<div class="jlg-searchbar container-fluid">
			<form name="searchForm" ng-submit="searchForAliment()" novalidate>
				<div class="form-group has-feedback">
					<label for="aliment" class="control-label">Rechercher un aliment</label>
					<input id="aliment" type="text" ng-model="nu.aliment" class="form-control"
						jlg-typeahead="{ select: 'aliment in nu.aliments | filter: nu.aliment | limitTo: 8 track by $index', object: 'aliment' }" 
						autocomplete="off"/>
					<span class="glyphicon glyphicon-search form-control-feedback" aria-hidden="true"></span>
				</div>
			</form>
		</div>
		<jlg-menu ctrl="menu" init="menu/main.html" title="Main menu" ng-show="menu.visible"></jlg-menu>
		<br/>
		<br/>
		<br/>
		<br/>
		<br/>
		<br/>
		<br/>
		<br/>
		<br/>
		Aliment: {{nu.aliment}}</br>
		isMobile : {{cfg.isMobile}} <button ng-click="cfg.isMobile = !cfg.isMobile">Switch</button><br/>
		isTop : {{cfg.isTop}} <button ng-click="cfg.isTop = !cfg.isTop">Switch</button><br/>
		
		Aliment Data:
		<json-formatter open="1" json="nu.alimentData"></json-formatter><br/>
		
		<script src="../bower_components/jquery/dist/jquery.min.js"></script>
		<script src="../bower_components/velocity/velocity.min.js"></script>
		<script src="../bower_components/papaparse/papaparse.min.js"></script>
		<script src="../bower_components/angular/angular.min.js"></script>
		<script src="../bower_components/angular-animate/angular-animate.js"></script>
		<script src="../bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
		<script src="../bower_components/json-formatter/dist/json-formatter.min.js"></script>
		<script type="text/javascript" src="app.js"></script>
		<script type="text/javascript" src="jlg-menu/jlg-menu.js"></script>
		<script type="text/javascript" src="jlg-responsive/jlg-responsive.js"></script>
		<script type="text/javascript" src="jlg-nutritional/jlg-nutritional.js"></script>
		<script type="text/javascript" src="jlg-typeahead/jlg-typeahead.js"></script>
	</body>
</html>
