jlg-menu {
	display: block;
	position: fixed;
	z-index: 500;
	background-color: transparent;
	width: 100%;
}

.jlg-menu-frame {
	display: block;
	position: absolute;
	right: 0;
	/* margin: 0 auto; */
	background-color: hsla(0, 0%, 90%, 0.5);
	overflow-x: hidden;
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
    line-height: 1.42857143;
	height: 100%;
}



/* TODO: compute the exact height */
.jlg-desktop .jlg-menu-frame {
	width: 400px;
}

.jlg-mobile .jlg-menu-frame {
	width: 100%;
}

/* menu panel */
.jlg-menu-panel {
	display: inline-block;
	position: absolute;
}

.jlg-desktop .jlg-menu-panel {
	width: 400px;
}

.jlg-mobile .jlg-menu-panel {
	width: 100%;
}

.jlg-menu-title-bar {
	position: relative;
	background-color: #337ab7;
	color: white;
	padding: 10px;
	text-align: center;
	font-weight: bold;
	font-size: 16px;
	
}

.jlg-menu-close {
	cursor: pointer;
	position: absolute;
	top: 0px;
	right: 0px;
	padding: 10px;
	
}

.jlg-menu-back {
	cursor: pointer;
	position: absolute;
	top: 0px;
	left: 0px;
	padding: 10px;
	
}

.jlg-menu-panel ul {
	margin: 0px;
	padding: 0px;
	border-color: #dddddd;;
	border-style: solid;
	border-width: 1px 0px 0px 0px;
}

.jlg-menu-panel li {
	display: table;
    width: 100%;
	list-style-type: none;
	background-color: white;
	padding: 10px;
	border-color: #dddddd;;
	border-style: solid;
	border-width: 0px 0px 1px 0px;
	color: #337ab7;
}

.jlg-menu-panel li[jlg-menu-directory] {
	font-weight: bold;
	font-size: 16px;
}

.jlg-menu-panel li[jlg-menu-directory]:hover {
	color: #23527c;
	text-decoration: underline;
}

.jlg-menu-item-label {
	display: table-cell;
    vertical-align: middle;
    width: 100%;
}