jlg-menu {
	display: block;
	position: fixed;
	z-index: 500;
	background-color: transparent;
	width: 100%;
}

.jlg-menu-frame {
	display: block;
	position: absolute;
	right: 0;
	/* margin: 0 auto; */
	background-color: hsla(0, 0%, 80%, 0.5);
	overflow-x: hidden;
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
}

jlg-menu.top {
	top: 50px;
}

jlg-menu.bottom {
	top: 0px;
}

/* TODO: compute the exact height */
.jlg-desktop .jlg-menu-frame {
	width: 400px;
	height: 1000px;
	
}

.jlg-mobile .jlg-menu-frame {
	width: 100%;
	height: 1000px;
}